*
{
    margin:0;
    padding:0;
    text-decoration:none;
    border:none;
    list-style: none;
    outline:none;
    box-sizing:border-box;
}

.menu__content
{
    position:fixed;
    top: 0;
    left: 0;
}
.menu__content-item
{
    height: 100vh;
    background-color: black;
     position: fixed; 
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s;     
}

.menu__button-open
{
    right: -20%;
}
.menu__button-close
{
    position: absolute;
    top: 10px;
    left: 95%;
    cursor: pointer;

}
.menu__content-item
{
    position: relative;
}
.menu__item
{
    padding: 8px 8px 8px 32px;
    font-size: 25px;
}
.menu__link 
{
    color: #818181;
}
.menu__link:hover
{
    color: whitesmoke;
}
.fas{
    /* background-color: #818181; */
    color: #818181;
    background-color: transparent;
    font-size: 1.9em;
}
.main__content
{
    padding: 5em;
}